name: LuminOS Build Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Check out repository code
      uses: actions/checkout@v4

    - name: Install build dependencies
      run: |
        sudo apt-get update
        # Added squashfs-tools, xorriso, and grub components
        sudo apt-get install -y debootstrap squashfs-tools xorriso grub-pc-bin grub-efi-amd64-bin mtools curl rsync

    - name: Run the Master Build Script
      run: |
        chmod +x *.sh
        sudo ./build.sh
