name: LuminOS Build Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Check out repository code
      uses: actions/checkout@v4

    - name: Install build dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y live-build debootstrap debian-archive-keyring plymouth curl rsync

    - name: Run the Master Build Script
      run: |
        # The build.sh script now handles the entire process
        sudo ./build.sh
